body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    /* Set a background image by replacing the URL below */
    background: url('https://github.com/cynthiajc3/CDM-198-003-SQ-2019-CCC/blob/master/Background2.png?raw=true') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row{
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  
